@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.Account.Localization;
@using Volo.Abp.Account.Settings;
@using Volo.Abp.AspNetCore.Mvc.UI.Theming;
@using Volo.Abp.Identity;
@using Volo.Abp.Settings;

@model Dn.ServiceRequest.Web.Pages.Account.Login
@inject IHtmlLocalizer<AccountResource> L
@inject IThemeManager ThemeManager
@inject Volo.Abp.Settings.ISettingProvider SettingProvider

@{
    Layout = "Layouts/_BlankLayout";
    ViewData["Title"] = "Login  - HR Service Request";
} 
@section PageStyles {
    <link rel="stylesheet" href="~vendor/css/pages/page-auth.css" />
}
 <!-- Content -->

    <div class="container-xxl " style="padding: 100px; padding-top:50px;">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6 d-flex justify-content-center">
          <!-- Login -->
          <div class="card w-100" style="max-width: 450px;">
             
            <div class="card-body">
              
              <!-- Logo -->
              <div class="app-brand justify-content-center mb-6">
                <a href="/" class="app-brand-link">
                  <span class="app-brand-log">
                  <img src="~/images/logo/brande.png" style="width:100%;"/>
                  </span>
                    </a>
              </div>
              <!-- /Logo -->
                 @if (Model.Message != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur !</strong> @Model.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
              <h4 class="mb-1">HR CONNECT</h4>
              <p class="mb-6">Veuillez vous authentifier</p>

              <form id="formAuthentication" class="mb-4"  method="POST">
                <div class="mb-6">
                  <label for="email" class="form-label">Email or Username</label>
                 <input type="text"
                        class="form-control"
                        id="LoginModel_Username"
                        name="LoginModel.Username"
                        placeholder="Enter your email or username"
                        autofocus> 
                </div>
                <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                  <input type="password"
                          class="form-control"
                          id="LoginModel_Password"
                          name="LoginModel.Password"
                          placeholder="••••••••••••"
                          aria-describedby="password">        
                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                  </div>
                </div>
              
                <div class="mb-6">
               <button class="btn btn-primary d-grid w-100 d-flex align-items-center justify-content-center gap-2" type="submit">
                  <i class="ti ti-windows"></i>
                  Login
              </button>     
              </div>
              </form>

            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->