@page
@model Dn.ServiceRequest.Web.Pages.Groupes.Mestickets.Index
@{
    Layout = "Layouts/_HorizontalLayout";
    ViewData["Title"] = "Tickets qui me sont assignés - HR Service Request";
    ViewData["LoadServiceProxyScript"] = true;
}


@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/swiper/swiper.dist.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/dropzone/dropzone.css" />
    <link rel="stylesheet" href="~/css/app-chat.css" />
 } <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.dist.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/nouislider/nouislider.dist.js"></script>
    <script src="~/vendor/libs/swiper/swiper.dist.js"></script>    
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>    
    <script src="~/assets/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/libs/abp/core/abp.js"></script>
    <script src="~/libs/abp/jquery/abp.jquery.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/js/tables-datatables-basic.js"></script>
}

@section PageScripts {
    <script src="~/js/front-page-landing.dist.js"></script>
    <script src="~/js/appChat.js"></script>
    <!--abp-script src="/client-proxies/app-proxy.js"/-->
      <script src="~/Abp/ServiceProxyScript"></script>
   <script src="~/js/app-assigned-tickets.js"></script>

   
}

@* ************** Content ************** *@
<div data-bs-spy="scroll" class="scrollspy-exampl">

    <!-- Hero: End -->
    <!-- Useful features: Start -->
    <div style="/*margin-top:-70px;">
        <div class="row g-6">
           
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title mb-4">Tickets qui me sont assignés</h3>


                    <div class="card-datatable table-responsive text-nowrap p-3 ">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        </div>
                        <table id="TableauDeMesTickets" class="datatables-basic table">
                            <thead>
                                <tr>
                                    <td>Action</td>
                                    <td>Numero</td>
                                    <td>Type</td>
                                     <td>Objet</td>
                                    <td>Status</td>
                                    <td>Délai consommé (SLA)</td>
                                    <td>Catégorie</td>
                                    <td>Groupe</td>
                                    <td>Date de création</td>
                                    <td>Date d'estimation de clôture</td>
                                </tr>
                            </thead>

                            <tbody>

                        

                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>